# SETS ASSIGNEMT

In [29]:
n = {1,2,3,4,5,6,7,8,9,10,11,12}
a = {2,4,6,8,10}
b = {3,8,11,12}
c = {2,3,6,8,9,11}

In [30]:
print(type(n),n)
print(type(a),a)
print(type(b),b)
print(type(c),c)

<class 'set'> {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
<class 'set'> {2, 4, 6, 8, 10}
<class 'set'> {8, 3, 11, 12}
<class 'set'> {2, 3, 6, 8, 9, 11}

### $ A \cap B$

In [31]:
ans1 = a.intersection(b)
ans1

{8}

### $ A \cup C$

In [32]:
ans2 = a.union(c)
ans2

{2, 3, 4, 6, 8, 9, 10, 11}

### A Compliment

In [33]:
ans3 = n.difference(a)
ans3

{1, 3, 5, 7, 9, 11, 12}

### The absolute complement of B

In [34]:
ans4 = n.difference(b)
ans4

{1, 2, 4, 5, 6, 7, 9, 10}

### (A ∪ B) Compliment

In [35]:
ans5 = n.difference(a.union(b))
ans5

{1, 5, 7, 9}

### B ∩ C′

In [36]:
ans6 = b.intersection(n.difference(c))
ans6

{12}

### A∖B

In [37]:
ans7 = a.difference(b)
ans7

{2, 4, 6, 10}

### C∖(B∖A)

In [38]:
ans8 = c.difference(b.difference(a))
ans8

{2, 6, 8, 9}

### (C ∩ A)∪(C∖B)

In [39]:
ans9 = (c.intersection(a)).union(c.difference(b))
ans9

{2, 6, 8, 9}

## The Inclusion Exclusion Principle

### 
∣
A
∪
B
∪
C
∣=∣
A
∣
+
∣
B
∣
+
∣
C
∣
−
∣
A
∩
B
∣
−
∣
A
∩
C
∣
−
∣
B
∩
C
∣
+
∣
A
∩
B
∩
C
∣

#### Left hand side

In [40]:
left_hand_eq = len(a.union(b).union(c))
left_hand_eq # 9 elements in the set

9

#### Right Hand Side

In [41]:
right_hand_eq = len(a) + len(b) + len(c) - len(a.intersection(b)) - len(a.intersection(c)) - len(b.intersection(c)) + len(a.intersection(b).intersection(c))
right_hand_eq # 9 elements in the set

9

#### Use a comparison operator to compare `left_hand_eq` and `right_hand_eq`. Needs to say "True".

In [42]:
left_hand_eq==right_hand_eq

True

## Set Operations in Python

In [43]:
Nina = set(["Cat","Dog","Rabbit","Donkey","Parrot", "Goldfish"])
Mary = set(["Dog","Chinchilla","Horse", "Chicken"])
Eve = set(["Rabbit", "Turtle", "Goldfish"])

In [44]:
Eve.remove("Turtle")
Eve

{'Goldfish', 'Rabbit'}

In [45]:
Nina = Nina.union(Mary)
Nina

{'Cat',
 'Chicken',
 'Chinchilla',
 'Dog',
 'Donkey',
 'Goldfish',
 'Horse',
 'Parrot',
 'Rabbit'}

In [46]:
Mary.clear()
Mary

set()

In [47]:
len(Nina)

9

In [48]:
Nina.difference_update(Eve)
len(Nina)

7

## Optional Exercise: European Countries

In [49]:
import pandas as pd

# Load Europe and EU
europe = pd.read_excel('Europe_and_EU.xlsx', sheet_name = 'Europe') 
eu = pd.read_excel('Europe_and_EU.xlsx', sheet_name = 'EU')

# Your code here to remove any whitespace from names

In [50]:
europe.head(3)

,Rank,Country,Population,% of population,Average relative annual growth (%),Average absolute annual growth,Estimated doubling time (Years),Official figure (where available),Date of last figure,Regional grouping,Source
0,1.0,Russia,143964709,17.15,0.19,294285,368,146839993,2017-01-01 00:00:00,EAEU,[1]
1,2.0,Germany,82521653,9.80,1.20,600000,90,82800000,2016-12-31 00:00:00,EU,Official estimate
2,3.0,Turkey,80810000,9.60,1.34,1035000,52,77695904,2016-12-31 00:00:00,NaN,[2]

In [51]:
eu.head(3)

,Rank,Country,2017 population,% of pop.,Average relative annual growth,Average absolute annual growth,Official figure,Date of last figure,Source
0,1,Germany,82800000,16.18,0.76,628876,82576900,2017-03-31,Official estimate
1,2,France,67210459,13.10,0.40,265557,67174000,2018-01-01,Monthly official estimate
2,3,United Kingdom,65808573,12.86,0.65,428793,65648100,2017-06-30,Official estimate

### Check to confirm that the EU countries are a subset of countries in Europe

In [52]:
# Convert 'country' columns to sets
europe = set(europe['Country'])
eu = set(eu['Country'])

In [53]:
is_subset = eu.issubset(europe)
print("Are all EU countries in Europe?", is_subset)

Are all EU countries in Europe? True

### Find the set of countries that are in Europe but not the EU

In [54]:
non_eu_countries = europe - eu
print("Countries in Europe but not in the EU:", non_eu_countries)

Countries in Europe but not in the EU: {' Moldova ', ' Svalbard (Norway) ', ' Russia', ' Norway ', ' Faroe Islands (Denmark) ', ' Andorra ', ' Macedonia ', ' Liechtenstein ', ' Montenegro ', ' Åland Islands (Finland) ', ' San Marino ', ' Serbia ', '  Vatican City ', ' Turkey ', ' Kosovo ', ' Monaco ', ' Isle of Man (UK) ', ' Jersey (UK) ', ' Armenia ', ' Belarus ', '  Switzerland ', ' Ukraine', ' Georgia ', ' Azerbaijan ', ' Gibraltar (UK)', ' Albania ', ' Bosnia and Herzegovina ', ' Guernsey (UK) ', ' Iceland '}